*,html{
    margin: 0;
    padding: 0;
}

a,abbr{
    text-decoration: none;
}


@keyframes frameUrl {
    from{
        transform: scale(1.0,1.0);
    }
    to{
        font-weight: bolder;
        transform: scale(1.3,1.3);
    }
}

#nav{
    position: fixed;
    width: 20%;
    height:100%;
    overflow: auto;
    background-color: rgba(20,30,27,100);
    text-align: center;
    color: #d1d9e0;
    font-size: 20px;
}

h1{
    margin: 10px;
    font-family: 'Pushster', cursive;
}

#nav a{
    color: #d1d9e0;
    width: 100%;
    display: block;
}

#nav li{
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}

#nav li:hover{
    background-color:  #d1d9e0;;

}

#nav li:hover a{
    color: rgba(20,30,27,100);
}

.nav-list-div{
    width: 100%;
    margin-top: 50%;
}


#main{
    width: 80%;
    height: auto;
    float: right;
    background-color: #748f87;
}

#list h2{
    padding: 10px;
    color: #d1d9e0;
    background-color: rgba(20,30,27,100);
}


#list ul{
    font-weight: bolder;
    font-size: 20px;
    padding-left: 5px;
}

#list li{
    font-weight: normal;
    display: inline-block;
    padding:5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}

#list li:hover{
    animation: frameUrl 0.5s forwards;
}

#list a{
    font-size: 18px;
}

#list a:link,#list a:visited,#list a:hover,#list a:active{
    color: black;
}

#footer{
    width: 100%;
    text-align: center;
    vertical-align: center;
    position: relative;

}

#footer-div{
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 50%;
    left: 0;
    margin: auto;
}

.info{
    font-size: 15px;
    margin-bottom: 3px;
}

.info:hover{
    font-size: 17px;
}

#footer-div a{
    color: black;
}
#footer-div a:link,#footer-div a:visited,#footer-div a:active{
    color: black;
}
#footer-link a{
    font-size: 14px;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

#footer-link a:link,#footer-link a:visited,#footer-link a:active{
    color:black;
}

#footer-link a:hover{
    color: #d1d9e0;
    font-size: 17px;
}